.okla-search {
    &__details {
        min-height: 350px;
        display: flex;

        .tab-content {
            flex: 0 0 calc(100% - 270px);
        }

        &-items {
            list-style: none;
            padding: 0px;
            margin: 0px;
            display: flex;
            flex-wrap: wrap;
        }

        &-item {
            padding: 0px 10px 20px 0px;
            flex: 0 0 50%;
        }

        &-title {
            display: block;
            color: $gray-202020;
            font-size: $font-large;
            font-weight: 600;
        }

        &-value {
            color: $color-636A70;
            font-size: $font-large;
        }
    }

    &__tabs {
        margin-right: 30px;
        flex-direction: column;
        width: 270px;

        @media (min-width: $screen-phone) {
            border-bottom: 0px;
        }

        .nav-link {
            background: $gray-F2F2F2;
            margin-bottom: 5px;
            border: none;
            padding: 20px;
            font-size: 20px;
            font-weight: 600;
            color: $gray-222020;
            border-left: 9px solid $gray-F2F2F2;
            border-radius: 0px;
            width: 100%;
            text-align: center;

            &.active {
                border-left: 9px solid $secondary-color;
            }

            &.completed_tab {
                border-left: 9px solid $primary-color;

                &.active {
                    border-left: 9px solid $secondary-color;
                }
            }
        }
    }

    &__btn {
        &-search:not(:disabled) {
            & + i {
                display: none !important;
            }
        }

        &[disabled] {
            cursor: inherit;

            i {
                color: $gray-ddd !important;
            }
        }
    }

    &__workplace-icons {
        width: 50px;
        display: inline-block;

        i + i {
            padding-left: 6px;
        }
    }

    @media (max-width: $screen-phone) {
        &__details {
            display: block;

            &-title,
            &-value {
                font-size: $font-regular;
            }

            &-dropdown {
                white-space: normal !important;
                text-align: left;
            }

            &-workplace-dropdown-item {
                white-space: normal;
                border-bottom: 1px solid $gray-F2F2F2;

                &:last-child {
                    border-bottom: none;
                }
            }
        }

        &__tabs {
            flex-direction: row;
            margin-right: 0px;
            margin-bottom: 20px;
            width: 100%;
            border-bottom: none;

            .nav-link {
                margin-bottom: 0px;
                border-left: 0px;
                border-bottom: 5px solid $gray-F2F2F2;
                padding: 10px $gutter-space;
                font-size: $font-regular;

                @media (max-width: 392px) {
                    padding: 10px 12px;
                }

                &.active {
                    border-bottom: 5px solid $secondary-color;
                    border-left: 0px;
                }
            }
        }
    }
}
